body{
    background-color: #f0f0f0;}
.button1 {
    background-color: rgb(12, 34, 228); 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50%;
}
.button1:hover {
    background-color: rgb(175, 21, 80);
}
.button2 {
    background-color: yellow; 
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50%;
}
.button2:hover {
    background-color: gold;
}
.button3 {
    background-color: rgb(22, 10, 189); 
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 50.5%;
}
.button3:hover {
    background-color: grey;
}
