body{
  background-color: rgb(230, 230, 230);
  color: rgb(255, 255, 255);
  background: linear-gradient(30deg,rgb(42, 42, 49),rgb(58, 58, 59));
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgb(20, 20, 20);
  box-shadow: 0 2px 10px rgb(51, 51, 51) ;
  position: sticky;
  top: 6px;
  border-radius: 16px;
  
}

nav p{
  color: rgb(241, 84, 56);
  font-size: large;
  display: flex;
  flex-direction: row;
  justify-items: auto;
}


.logo img,
.logo svg{
  width: 10%;
  height: 10%;
  display: flex;
}

nav .nav-links{
  display: flex;
  align-items:center;
  flex-direction: row;
  gap: 50px;
  padding-left: 40px;
  list-style:none;
}


.nav-links a{
  text-decoration: none;
  color:aliceblue;
  font-weight: 300;
  transition: 0.3s;
}

.nav-links a:hover {
  color:rgb(46, 46, 46);
  
}



.container img{
  max-width: 180px ;
  height: 180px;
  display: block;
  
}


.container{
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 300px;
  margin-top: 100px;
}

.container .price{
  color: brown;
  font-size: 18px;
  font-weight: 700;
}


.card{
  background-color: rgb(112, 107, 107);
  border-radius: 14px;
  display: block;
  align-items: center;
  padding: 50px;
}

.button1{
  background-color: rgb(30, 97, 197);
  width: 100px;
  height: 40px;
  font-size: 14px;
  color: aliceblue;
  border-radius: 8px;
  border-width: 1px;
  border-color: rgb(30, 97, 197);
  cursor: pointer;

}

.button1:hover {
  color: rgb(173, 173, 173);
  background-color: rgb(80, 81, 83);
  border-color: rgb(80, 81, 83);
}