body{
  background-color: aliceblue;
  color: black;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: rgb(20, 20, 20);
  box-shadow: 0 2px 10px rgb(51, 51, 51) ;
  position: sticky;
  top: 6px;
  border-radius: 16px;
  
}

.logo{
  font-size:x-large;
  font-style:unset;
  font-weight: 700;
  color:rgb(228, 41, 41);
}

.nav-links{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  padding-left: 40px;
  list-style:none;
}

.nav-links a{
  text-decoration: none;
  color:aliceblue;
  font-weight: 300;
  transition: 0.3s;
}

.nav-links a:hover {
  color:rgb(46, 46, 46);
  
}