body{
  background-color: aliceblue;
  color: black;
}

nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: rgb(20, 20, 20);
  box-shadow: 0 2px 10px rgb(51, 51, 51) ;
  position: sticky;
  top: 6px;
  border-radius: 16px;
  
}


.logo img,
.logo svg{
  width: 10%;
  height: 10%;
  object-fit: contain;
  display: block;
}

.nav-links{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 50px;
  padding-left: 40px;
  list-style:none;
}

.nav-links a{
  text-decoration: none;
  color:aliceblue;
  font-weight: 300;
  transition: 0.3s;
}

.nav-links a:hover {
  color:rgb(46, 46, 46);
  
}