body { background: #dadada; }
.button1{
    background-color: blue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button1:hover {
    background-color: darkblue;
}
.button2{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button2:hover {
    background-color: darkgreen;
}
.pr1{
    font-size: 16px;
    color: #ff0000;
}
.pr2{
    font-size: 16px;
    color: #197a21;
}