body{
  background-color: rgb(46, 42, 42);
  color: black;
}

.WelcomeMessage{
  color: rgb(29, 104, 35);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  font-size: 36px;
  margin-bottom: auto;

}

.container_1{
  display: flex;
  align-items: flex-start;
  gap: 20px;
  
} 

