body{
  background-color: rgb(221, 221, 221);
  color: black;
}

nav{
  background-color: rgb(255, 255, 255);
  width:2000px;
  height: 80px;
  display:flex;
  gap: 0px;
  margin-top: -7px;
  margin-left: -10px;
}

img {
  width: 100px;
  height: auto;
  margin-left: 300px;
}

.img2{
  width: 30px;
  height: 30px;
  margin-top: 24px;
  margin-left: 700px;
}

.container1{
  border-radius: 12px;
  display: flex;
}

.links{
    list-style: none;
    display: flex; 
    gap: 50px;
    margin-top: 30px;

}
.links li a{
  color: black;
  font-weight: 700;
  display: flex;
  text-decoration: none;
}

/*--------------nav---end--------------*/

.container_2 img{
  width: 1000px;
  height: auto;
  border-radius: 14px;
  display: block;
  margin-right: 200px;
}

.paragraph{
  width: 1000px;
  margin: auto;
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
}

.container_2{
  width: 100%;     
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.container_3{
  width: 720px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 50px auto;
}


.container_3 div{
  width: 220px;
  height: 220px;
  background-color: rgb(255, 255, 255);
  gap : 50px;
  margin-top: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
  flex-direction: row;
  flex-wrap: wrap;
}

.container_3 img{
  margin-right: 300px;
  width: 150px;
  height: auto;
}

.btn1{
  width:250px;
  height:35px;
  border-radius: 14px;
  background-color: rgb(221, 221, 221);
  font-weight: 700;
  align-items: center;
  display: block;
  align-items: center;
  cursor: pointer;
}

.btn1:hover {
  background-color: aliceblue;
}

.btn1_div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

footer{
  width: 1880px;
  height: 500px;
  background-color: black;
  margin-left: -10px;
  margin-top: 100px;
}

.container_4{
  display: flex;
  flex-direction: row;
  gap:500px;
}
.container_4 div{
  margin-top: 80px;
  margin-left: 22px;
}

.container_4 button{
  width: 110px;
  height: 32px;
  font-weight: 100;
  border-color: white;  
  border-radius: 14px;
  border-color: white;
  background-color: black;
  color: white;
  margin-left: 500px;
}

.line_1 {
  background-color: white;
  height: 0.5px;
  width: 1250px;
  margin-top: 20px;
  margin: 20px auto 0;
  
}

.container_5{
  display: flex;
  justify-content: space-between;  /* spread them evenly */
  align-items: flex-start;
  width: 100%;
  max-width: 900px;                /* optional */
  margin: 0 auto;                   /* center container */
  gap: 30px; 
  color: white;
  margin-left: 286px;
  margin-top: 20px;
}

.container_5 li{
  list-style: none;
}

.logo_container img{
  height: 28px;
  width: 28px;
  margin: 0;
  align-items: center;
}


.logo_container{
  background-color: white;
  height: 28px;
  width: 28px;
  margin: 0;
  border-radius: 20px;
}

.line_2{
  background-color: white;
  height: 0.5px;
  width: 1250px;
  margin-top: 20px;
  margin: 20px auto 0;
  
}

.p1{
  color: white;
  font-size: small;
  margin-top: 30px;
  margin-left: 1290px;
}