body{
  background-color: rgb(221, 221, 221);
  color: black;
}

nav{
  background-color: rgb(255, 255, 255);
  width:auto;
  height: 80px;
  display:flex;
  gap: 0px;
}

img{
  width: 100px;
  height: auto;
  margin-left: 200px;
}
.container1{
  border-radius: 12px;
  display: flex;
}

.links{
    list-style: none;
    display: flex; 
    gap: 40px;
    margin-top: 30px;
}
.links li a{
  color: black;
  font-weight: 700;
  display: flex;
  text-decoration: none;
}

/*--------------nav---end--------------*/

.container_2 img{
  width: 1000px;
  height: auto;
  border-radius: 14px;
  display: block;
  margin-right: 200px;
}

.container_2{
  width: 100%;     
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.container_3{
  width: 500px;
  height: 500px;
}

.container_3 div{
  width: 60px;
  height: 60px;
  background-color: aliceblue;
}