body{
  background-color: rgb(221, 221, 221);
  color: black;
}

nav{
  background-color: rgb(255, 255, 255);
  width:2000px;
  height: 80px;
  display:flex;
  gap: 0px;
  margin-top: -7px;
  margin-left: -10px;
}

img{
  width: 100px;
  height: auto;
  margin-left: 200px;
}
.container1{
  border-radius: 12px;
  display: flex;
}

.links{
    list-style: none;
    display: flex; 
    gap: 40px;
    margin-top: 30px;
}
.links li a{
  color: black;
  font-weight: 700;
  display: flex;
  text-decoration: none;
}

/*--------------nav---end--------------*/

.container_2 img{
  width: 1000px;
  height: auto;
  border-radius: 14px;
  display: block;
  margin-right: 200px;
}

.paragraph{
  width: 1000px;
  margin: auto;
  margin-top: 30px;
  font-size: 20px;
  line-height: 1.6;
  text-align: center;
}

.container_2{
  width: 100%;     
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.container_3{
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 50px;
  border-radius: 12px;

}

.container_3 div{
  width: 60px;
  height: 60px;
  background-color: rgb(7, 103, 187);
  gap : 10px;
  margin-top: 20px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 700; 
}